@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: hsl(30, 38%, 92%);
}

.card {
  display: flex;
  border-radius: 0.7rem;
  background: white;
  width: 28%;
}

.card_text {
  display: grid;
  justify-content: center;
}

.card img {
  width: 45%;
  border-radius: 0.7rem 0 0rem 0.7rem;
}

.price {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem 1rem 2rem;
  align-items: center;
}

.price_new {
  color: hsl(158, 36%, 37%);
  font-weight: bold;
  font-size: 30px;
}

.add_cart {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0 1rem 0;
}

button {
  background-color: hsl(158, 36%, 37%);
  color: white;
  border: none;
  border-radius: 0.7rem;
  padding: 1rem 4rem 1rem 4rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.material-symbols-outlined {
  padding-right: 0.5rem;
}

.text {
  padding: 1rem 4rem 1rem 2rem;
}

.main_text,
.description_text {
  padding: 1rem 0 1rem 0;
}

.main_text {
  text-transform: uppercase;
}

.description_text,
.first_text {
  font-size: 14px;
  color: gray;
}

.first_text {
  letter-spacing: 4px;
}

.price_old {
  text-decoration: line-through;
  color: gray;
}
